<header>
    <div class="header-logo">
        <h1>U-Roboter</h1>
    </div>
    <div class="header-control">
        <div id="start-control-button" class="button"><i class="fas fa-gamepad"></i>Steuerung übernehmen</div>
    </div>
</header>