<%- include('includes/tinyhead.ejs'); %>
<%- include('includes/headWithControls.ejs'); %>
			<div id="playerWrapper"></div>
			<div id="overlay">
				<div class="inside">
					<div id="request-control" class="box">
						<div class="button-close"><i class="fas fa-times"></i></div>
						<h2>Steuerung übernehmen</h2>
						<p>Möchten Sie die Steuerung des Roboters <span data-type="control-countdown"></span> übernehmen?</p>
						<div class="buttonset">
							<button class="button button--success"><i class="fas fa-check"></i>Ja</button>
							<button class="button button-abort"><i class="fas fa-times"></i>Nein</button>
						</div>
					</div>
				</div>
			</div>
<%- include('includes/tinyfoot.ejs'); %>