body {
    background: #fff;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    font-size: 15px;
    line-height: 1.5;
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px;
}

a {
    color: inherit;
}

.button {
    display: inline-block;
    background: #060;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    transition: background .2s;
    border: 0;
    font-family: inherit;
    padding: 10px 20px;
    line-height: 20px;
    font-size: 15px;
    outline: 0;
    text-decoration: none;
}

.button:hover {
    background: #090;
}

.button-abort {
    background: #900;
}

.button-abort:hover {
    background: #c00;
}

.button .fas {
    margin-right: 10px;
}

.inputgroup {
    display: flex;
    width: 100%;
}

.inputgroup input {
    flex-grow: 1;
    border-radius: 20px 0 0 20px !important;
    border-width: 1px 0 1px 1px !important;
}

.inputgroup button {
    border-radius: 0 20px 20px 0 !important;
}

.header-logo h1 {
    margin: 0;
}

.message {
    margin: 60px 0;
    background: #eee;
    padding: 20px 40px;
    position: relative;
}

.message-mail {
    padding-left: 170px;
}

.message-mail .fas {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 100px;
}

.message h2 {
    margin: 20px 0;
}

.message p {
    margin: 20px 0;
}

.response {
    display: none;
    margin-top: 13px;
    min-height: 49px;
    box-sizing: border-box;
    background: #ff9;
    padding: 10px;
    border-radius: 5px;
}

#player {
    background: #000;
    position: relative;
}

#player::before {
    content: '';
    display: block;
    padding-top: calc(100% / 16 * 9);
}

#player canvas {
    width: 100%;
    max-width: calc((100vh - 24px) / 9 * 16);
    height: auto;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#player .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 2;
}

#player .loading::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    background: transparent url(../images/Spinner-1s-200px.svg) no-repeat center/contain;
}

#player .pause {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 64px;
    cursor: pointer;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

#overlay .inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay .box {
    display: none;
    border-radius: 10px;
    padding: 30px 20px;
    max-width: 600px;
    background: #fff;
    font-size: 13px;
    position: relative;
    box-shadow: 0 5px 20px rgb(0 0 0 / 25%);
}

#overlay .box h2 {
    margin: 0 0 10px;
}

#overlay .box .button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
}

#overlay .box .buttonset {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

#overlay .box .buttonset button {
    margin-left: 10px;
}